@use "../base/functions";
@use "../base/variables";

.btn {
  display: inline-block;
  padding: functions.rem(20) functions.rem(60);
  color: variables.$white;
  font-size: functions.rem(16);
  line-height: functions.lh(18.4);
  white-space: nowrap;
  text-align: center;
  border: none;
  border-radius: functions.rem(50);
  cursor: pointer;
  transition: all variables.$transition;

  &-primary {
    background-color: variables.$btnPrimaryColor;

    @media (hover: hover) {
      &:hover {
        background-color: variables.$btnPrimaryColorHover;
      }
    }
  }

  &-secondary {
    background-color: variables.$btnSecondaryColor;

    @media (hover: hover) {
      &:hover {
        background-color: variables.$btnSecondaryColorHover;
      }
    }
  }

  &-tertiary {
    background-color: variables.$black;
  }
}
