@use "../base/functions";
@use "../base/variables";

.h1,
.h2,
.h3,
.h4 {
  margin: 0;
  font-weight: 700;
  font-family: variables.$secondaryFontFamily;
}

.h1 {
  max-width: functions.rem(400);
  margin-bottom: functions.rem(20);
  font-size: functions.rem(30);

  @media (min-width: variables.$sm) {
    font-size: functions.rem(36);
  }

  @media (min-width: variables.$md) {
    max-width: functions.rem(550);
    margin-bottom: functions.rem(30);
  }

  @media (min-width: variables.$lg) {
    max-width: functions.rem(630);
    font-size: functions.rem(48);
  }
}

.h2 {
  margin-bottom: functions.rem(30);
  font-size: functions.rem(26);
  line-height: functions.lh(30, 26);

  @media (min-width: variables.$md) {
    margin-bottom: functions.rem(50);
    font-size: functions.rem(32);
  }

  @media (min-width: variables.$lg) {
    font-size: functions.rem(38);
  }
}
