@use "../base/functions";
@use "../base/variables";

.nav {
  &__link {
    transition: all variables.$transition;
  }

  &__btn-call {
    margin-top: functions.rem(60);

    @media (min-width: variables.$lg) {
      display: none;
    }

    .btn {
      width: 100%;
      font-size: functions.rem(18);

      @media (min-width: variables.$sm) {
        width: initial;
      }
    }
  }

  &_active {
    color: variables.$black;
  }
}
