@use '../base/functions' as *;
@use '../base/variables' as *;

/* stylelint-disable no-duplicate-selectors */
[data-a11y-dialog-native] .dialog__overlay {
  display: none;
}

.dialog[aria-hidden='true'] {
  display: none;
}

.dialog {
  z-index: 19;
  display: flex;
  overflow: scroll;
  text-align: center;

  &:not([data-a11y-dialog-native]),
  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__overlay {
    background-color: rgba(43, 46, 56, 60%);
    animation: fade-in 200ms both;
  }

  &__heading {
    display: flex;
    margin-top: rem(35);
    margin-bottom: rem(20);
    padding-bottom: rem(4);
    font-size: rem(22);
    border-bottom: rem(1) solid $lightGray;
  }

  &__heading-item {
    position: relative;
    margin-right: rem(30);
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity $transition;

    &::after {
      position: absolute;
      bottom: rem(-6);
      left: 0;
      width: 100%;
      height: rem(2);
      border-bottom: rem(3) solid $primaryColor;
      opacity: 0;
      content: '';
    }

    @media (hover: hover) {
      &:hover {
        color: $blackGray;
      }
    }
  }

  &__content {
    position: relative;
    z-index: 20;
    width: 100%;
    max-width: rem(400);
    margin: auto;
    padding: rem(25) rem(15);
    background-color: $white;
    border-radius: $radius;
    animation: fade-in 400ms 200ms both, slide-up 400ms 200ms both;

    @media (min-width: $sm) {
      padding: rem(40) rem(30);
    }
  }

  &__close {
    position: absolute;
    top: rem(20);
    right: rem(20);
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(30);
    height: rem(30);
    text-align: center;
    background-color: $bgColor;
    border: none;
    outline: none;
    cursor: pointer;

    &::after,
    &::before {
      position: absolute;
      display: block;
      width: 80%;
      height: rem(2);
      background-color: $primaryColor;
      transition: background-color $transition;
      content: '';
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }

    &:focus {
      &::after,
      &::before {
        background-color: $black;
      }
    }

    @media (hover: hover) {
      &:hover {
        &::after,
        &::before {
          background-color: $black;
        }
      }
    }
  }

  &__social-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, rem(40));
    column-gap: rem(15);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(10%);
  }
}

.dialog-form {
  &__group {
    margin-bottom: rem(20);
  }

  &__label {
    display: block;
    margin-bottom: rem(15);
    text-align: left;
  }

  // .dialog-form__input

  &__input {
    width: 100%;
    padding: rem(16);
    border: 1px solid $inputBorderColor;
    border-radius: $radius;
    outline: none;
  }

  // .dialog-form__btn

  &__btn {
    width: 100%;
    margin-top: rem(10);
  }
}

.forgot-password {
  display: block;
  margin-top: rem(10);
  color: $primaryColor;
  text-align: right;
  transition: color $transition;

  @media (hover: hover) {
    &:hover {
      color: $black;
    }
  }
}

/* stylelint-enable no-duplicate-selectors */
