@use "../base/functions";
@use "../base/variables";

.creative {
  padding-bottom: functions.rem(120);
  overflow: hidden;

  @media (min-width: variables.$sm) {
    padding-bottom: functions.rem(10);
  }

  .container {
    position: relative;
  }

  // .creative__title-img

  &__title-img {
    max-width: functions.rem(156);
    margin-bottom: functions.rem(30);
    margin-inline: auto;

    @media (min-width: variables.$sm) {
      max-width: functions.rem(302);
      margin-inline: 0;
    }
  }

  // .creative__title

  &__title {
    @media (min-width: variables.$sm) {
      max-width: 70%;
      text-align: left;
    }

    @media (min-width: variables.$md) {
      max-width: 60%;
    }
  }

  // .creative__text

  &__text {
    max-width: functions.rem(300);
    margin-bottom: functions.rem(60);

    @media (min-width: variables.$md) {
      max-width: functions.rem(400);
      margin-bottom: functions.rem(100);
    }
  }

  // .creative__btns-wrapper

  &__btns-wrapper {
    display: flex;
    flex-direction: column;
    gap: functions.rem(28);
    align-items: center;

    @media (min-width: variables.$sm) {
      flex-direction: row;
      align-items: start;
      justify-content: center;
    }

    @media (min-width: variables.$md) {
      justify-content: start;
    }

    .btn {
      width: 100%;
      max-width: functions.rem(280);
    }
  }

  // .creative__img-col

  &__img-col {
    position: relative;
    bottom: functions.rem(-70);
    max-width: functions.rem(300);
    padding: functions.rem(10);
    border-radius: variables.$radius;
    transform: rotate(15deg);
    margin-inline: auto;

    &::before {
      position: absolute;
      bottom: functions.rem(10);
      left: functions.rem(-30);
      z-index: -1;
      display: block;
      width: functions.rem(200);
      height: functions.rem(200);
      background-color: variables.$tertiaryColor;
      border-radius: variables.$radius;
      transform: rotate(-45deg);
      opacity: 0.4;
      content: '';

      @media (min-width: variables.$sm) {
        left: 0;
        width: functions.rem(150);
        height: functions.rem(150);
      }

      @media (min-width: variables.$md) {
        left: functions.rem(-30);
        width: functions.rem(200);
        height: functions.rem(200);
      }

      @media (min-width: variables.$lg) {
        bottom: functions.rem(-30);
        left: functions.rem(-60);
        width: functions.rem(280);
        height: functions.rem(280);
      }
    }

    &::after {
      position: absolute;
      z-index: -1;
      display: block;
      background-color: variables.$primaryColor;
      border-radius: variables.$radius;
      content: '';
      inset: 0;
    }

    @media (min-width: variables.$sm) {
      position: absolute;
      top: functions.rem(10);
      right: functions.rem(-40);
      bottom: initial;
      max-width: functions.rem(200);
    }

    @media (min-width: variables.$md) {
      right: initial;
      left: 70vw;
      width: 100%;
      max-width: functions.rem(270);
    }

    @media (min-width: variables.$lg) {
      max-width: functions.rem(400);
    }

    @media (min-width: variables.$xl) {
      right: functions.rem(54);
      left: initial;
    }
  }
}
