@use "../base/functions";
@use "../base/variables";

.footer {
  padding-top: functions.rem(70);
  padding-bottom: functions.rem(30);

  @media (min-width: variables.$lg) {
    padding-top: functions.rem(120);
  }

  // .footer__row

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: functions.rem(30);
    justify-content: space-between;
    margin-bottom: functions.rem(50);
  }

  // .footer__logo

  &__logo {
    font-size: 0;

    svg {
      fill: variables.$black;
    }

    @media (min-width: variables.$lg) {
      max-width: functions.rem(350);
    }

    a {
      display: inline-block;
      margin-bottom: functions.rem(20);
    }
  }

  &__text {
    max-width: functions.rem(400);
  }

  // .footer__nav

  &__nav {
    .nav__list {
      text-decoration: underline;
    }

    .nav__item {
      margin-bottom: functions.rem(15);
    }

    .nav__link {
      @media (hover: hover) {
        &:hover {
          font-weight: 700;
        }
      }
    }

    @media (min-width: variables.$sm) {
      width: 40%;
    }

    @media (min-width: variables.$md) {
      width: 50%;
    }

    @media (min-width: variables.$lg) {
      width: initial;
    }
  }

  // .footer__contact

  &__contact {
    @media (min-width: variables.$sm) {
      width: calc(60% - functions.rem(30));
    }

    @media (min-width: variables.$md) {
      width: calc(50% - functions.rem(30));
    }

    @media (min-width: variables.$lg) {
      width: initial;
    }
  }

  // .footer__contact-title

  &__contact-title {
    margin-bottom: functions.rem(15);
    font-size: functions.rem(20);
    font-family: variables.$secondaryFontFamily;
  }

  // .footer__contact-text

  &__contact-text {
    max-width: functions.rem(400);
    margin-bottom: functions.rem(30);
  }

  // .footer__form

  &__form {
    position: relative;
    max-width: functions.rem(400);
  }

  // .footer__form-input

  &__form-input {
    width: 100%;
    padding: functions.rem(16);
    border: 1px solid variables.$inputBorderColor;
    border-radius: variables.$radius;
    outline: none;
  }

  // .footer__form-btn

  &__form-btn {
    position: absolute;
    top: functions.rem(8);
    right: functions.rem(8);
    width: functions.rem(34);
    height: functions.rem(34);
    color: variables.$white;
    background-color: variables.$primaryColor;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: transform variables.$transition;

    @media (hover: hover) {
      &:hover {
        transform: scale(1.1);
      }
    }

    svg {
      stroke: variables.$white;
    }
  }

  // .footer__copyright

  &__copyright {
    color: variables.$gray;
    text-align: center;
  }
}
