@use "../base/functions";
@use "../base/variables";

.main-section {
  position: relative;
  padding-top: functions.rem(40);
  overflow: hidden;
  background: linear-gradient(40deg, variables.$primaryColor 0%, variables.$secondaryColor 100%);

  @media (min-width: variables.$md) {
    padding-top: functions.rem(80);
  }

  @media (min-width: variables.$lg) {
    padding-top: functions.rem(120);
  }

  // .main-section__row

  &__row {
    position: relative;
    top: functions.rem(80);
    display: flex;
    flex-direction: column;
    padding-bottom: functions.rem(140);

    @media (min-width: functions.rem(480)) {
      padding-bottom: functions.rem(70);
    }

    @media (min-width: variables.$md) {
      top: 0;
      padding-bottom: 0;
    }
  }

  // .main-section__heading

  &__heading {
    padding-top: functions.rem(20);
    color: variables.$white;

    @media (min-width: variables.$sm) {
      padding-top: functions.rem(40);
    }

    @media (min-width: variables.$lg) {
      padding-top: functions.rem(100);
    }

    @media (min-width: variables.$xxl) {
      padding-top: functions.rem(120);
    }
  }

  // .main-section__text

  &__text {
    max-width: functions.rem(375);
    margin-bottom: functions.rem(20);

    @media (min-width: functions.rem(480)) {
      max-width: functions.rem(280);
      margin-bottom: functions.rem(50);
    }

    @media (min-width: variables.$md) {
      max-width: functions.rem(400);
    }

    @media (min-width: variables.$lg) {
      max-width: functions.rem(600);
    }
  }

  &__img-wrapper {
    width: 100%;
    max-width: functions.rem(200);
    margin-bottom: functions.rem(-120);
    margin-inline: auto;

    @media (min-width: functions.rem(480)) {
      position: absolute;
      top: 15%;
      right: functions.rem(-100);
      max-width: 60%;
      margin-inline: 0;
    }

    @media (min-width: variables.$sm) {
      max-width: 55%;
    }

    @media (min-width: variables.$md) {
      top: functions.rem(40);
      right: functions.rem(-50);
      max-width: functions.rem(380);
    }

    @media (min-width: variables.$lg) {
      top: functions.rem(70);
      right: 0;
    }

    @media (min-width: variables.$xxl) {
      max-width: functions.rem(500);
    }
  }

  &__btn {
    padding-bottom: functions.rem(40);

    @media (max-width: functions.rem(479)) {
      position: absolute;
      bottom: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }

  &__bg_bottom {
    position: relative;
    fill: variables.$white;
  }
}
