@use "../base/functions";
@use "../base/variables";

.order {
  position: relative;
  color: variables.$white;
  background: linear-gradient(40deg, variables.$primaryColor 0%, variables.$secondaryColor 100%);

  &__row {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  // .order__title

  &__title {
    max-width: functions.rem(480);

    @media (min-width: variables.$lg) {
      max-width: 50%;
    }
  }

  // .order__text

  &__text {
    margin-bottom: functions.rem(50);

    @media (min-width: variables.$sm) {
      max-width: functions.rem(384);
    }

    @media (min-width: variables.$md) {
      max-width: functions.rem(400);
      margin-bottom: functions.rem(100);
    }
  }

  &__img-wrapper {
    max-width: functions.rem(240);
    margin-bottom: functions.rem(50);
    margin-inline: auto;

    @media (min-width: variables.$sm) {
      position: absolute;
      top: functions.rem(50);
      right: 0;
      max-width: 28vw;
    }

    @media (min-width: variables.$md) {
      top: 0;
      left: 60vw;
      max-width: functions.rem(240);
    }

    @media (min-width: variables.$lg) {
      max-width: functions.rem(350);
    }

    @media (min-width: variables.$xl) {
      right: functions.rem(150);
      left: initial;
    }

    svg {
      fill: variables.$white;
    }
  }

  // .order__form-col

  &__form-col {
    @media (min-width: variables.$md) {
      display: flex;
      column-gap: functions.rem(40);
    }

    @media (min-width: variables.$lg) {
      flex-direction: column;
    }
  }

  // .order__form-title

  &__form-title {
    max-width: functions.rem(400);
    margin-bottom: functions.rem(30);
    font-weight: 700;
    font-size: functions.rem(18);
    font-family: variables.$secondaryFontFamily;

    span {
      color: variables.$secondaryColor;
    }
  }

  &__bg {
    position: relative;
    fill: variables.$white;
  }

  &__bg_top {
    top: functions.rem(-1);
    padding-bottom: functions.rem(40);

    @media (min-width: variables.$lg) {
      padding-bottom: functions.rem(70);
    }
  }

  &__bg_bottom {
    top: functions.rem(1);
    padding-top: functions.rem(40);

    @media (min-width: variables.$lg) {
      padding-top: functions.rem(70);
    }
  }
}

.form-order {
  @media (min-width: variables.$md) {
    max-width: functions.rem(362);
  }

  @media (min-width: variables.$lg) {
    display: flex;
    width: 100%;
    max-width: initial;
    column-gap: functions.rem(50);
  }

  // .form-order__input

  &__input {
    width: 100%;
    margin-bottom: functions.rem(30);
    padding: functions.rem(10);
    color: variables.$white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid variables.$white;
    outline: none;

    &::placeholder {
      color: variables.$white;
    }
  }

  .btn {
    width: 100%;
    margin-top: functions.rem(20);

    @media (min-width: variables.$sm) {
      width: initial;
    }
  }
}
