@use "../base/functions";
@use "../base/variables";

.partners {
  margin-top: functions.rem(-30);

  @media (min-width: variables.$sm) {
    position: relative;
    z-index: 3;
    margin-top: functions.rem(-90);
  }

  @media (min-width: variables.$lg) {
    margin-top: functions.rem(-130);
  }

  &__title {
    margin-bottom: functions.rem(50);
    text-align: center;
  }

  // .partners__row

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: functions.rem(30);
    justify-content: center;

    @media (min-width: variables.$lg) {
      justify-content: space-between;
    }
  }

  // .partners__item

  &__item {
    display: flex;
    align-items: center;
    width: functions.rem(120);
    height: functions.rem(64);

    @media (min-width: variables.$md) {
      width: functions.rem(140);
      height: functions.rem(54);
    }

    @media (min-width: variables.$md) {
      width: functions.rem(160);
      height: functions.rem(74);
    }

    img {
      font-size: 0;
    }
  }
}
