@use "../base/functions";
@use "../base/variables";

.production {
  // .production__row

  &__row {
    @media (min-width: variables.$md) {
      display: flex;
      column-gap: functions.rem(30);
    }
  }

  // .production__img-col

  &__img-wrapper {
    width: 100%;
    margin-bottom: functions.rem(34);
    overflow: hidden;
    border-radius: variables.$radius;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  // .production__content-col

  &__content-col {
    @media (min-width: variables.$md) {
      max-width: 50%;
    }
  }

  // .production__text

  &__text {
    max-width: functions.rem(576);
    margin-bottom: functions.rem(35);
  }

  // .production__slider

  &__slider {
    margin: 0;
  }

  &__slider-item {
    overflow: hidden;
    background-color: variables.$bgColor;
    border-radius: variables.$radius;
    box-shadow: variables.$shadow;

    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
