@use '../base/functions' as *;
@use '../base/variables' as *;

.production {
  // .production__row

  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
    gap: rem(30);
  }

  // .production__img-col

  &__img-wrapper {
    overflow: hidden;
    border-radius: $radius;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  // .production__text

  &__text {
    max-width: rem(576);
    margin-bottom: rem(35);
  }

  // .production__slider

  &__slider {
    margin: 0;
  }

  &__slider-item {
    overflow: hidden;
    background-color: $bgColor;
    border-radius: $radius;
    box-shadow: $shadow;

    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
