<section class="creative section">
  <div class="container">
    <div class="creative__main-col">
      <div class="creative__title-img">
        <img src="images/creative/creative-title.svg" width="299" height="64" alt="креатив">
      </div>
  
      <h2 class="creative__title h2">Хотите удивить ваших коллег/партнеров необычными подарками?</h2>
      <p class="creative__text">Выбирайте готовые подарочные наборы или укажите критерии по которым мы соберем для Вас уникальный бокс.</p>
      <div class="creative__btns-wrapper">
        <button class="btn btn-primary">Перейти к наборам</button>
        <button class="btn btn-secondary">Создать свой</button>
      </div>
    </div>

    <div class="creative__img-col">
      <img src="images/creative/creative.jpg" width="428" height="428" alt="креатив">
    </div>
  </div>
</section>