<section class="main-section">
  <div class="container">
    <div class="main-section__row">
      <div class="main-section__item main-section__heading">
        <h1 class="main-section__title h1">Свежее дыхание в корпоративной жизни</h1>
        <p class="main-section__text">Стоимость производства брендированной продукции на заказ расчитывается индивидуально. Цена зависит от сложности работы, брендирования, материалов, тиража и срочности.</p>
      </div>
      
      <div class="main-section__item main-section__img-wrapper">
        <picture>
          <!-- <source srcset="images/main-section/main-section.png" media="(min-width: 480px)"> -->
          <!-- <img src="images/main-section/main-section-sm.png" width="539" height="735" alt="продукт"> -->
        </picture>
        <img src="images/main-section/main-section.png" width="539" height="735" alt="продукт">
      </div>

      <div class="main-section__btn">
        <button class="btn btn-primary">Перейти к товарам</button>
      </div>
    </div>
  </div>
  <svg class="main-section__bg_bottom" viewBox="0 0 1440 231" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 71L60 55C120 39 240 7.00001 360 1.70001C480 -3.99999 600 18 720 39C840 60 960 82 1080 87C1200 92 1320 82 1380 76.3L1440 71V231H1380C1320 231 1200 231 1080 231C960 231 840 231 720 231C600 231 480 231 360 231C240 231 120 231 60 231H0V71Z" />
  </svg>
</section>