<section class="partners section">
  <div class="container">
    <h2 class="partners__title h2">С нами соотрудничают</h2>

    <div class="partners__row">
      <div class="partners__item">
        <img src="images/partners/partners-1.svg" width="200" height="63" alt="партнер">
      </div>

      <div class="partners__item">
        <img src="images/partners/partners-2.svg" width="200" height="63" alt="партнер">
      </div>

      <div class="partners__item">
        <img src="images/partners/partners-3.svg" width="200" height="63" alt="партнер">
      </div>

      <div class="partners__item">
        <img src="images/partners/partners-4.svg" width="200" height="63" alt="партнер">
      </div>

      <div class="partners__item">
        <img src="images/partners/partners-5.svg" width="200" height="63" alt="партнер">
      </div>
    </div>
  </div>
</section>