<section class="production section">
  <div class="container">
    <div class="production__row">
      <div class="production__img-wrapper">
        <img src="images/production/production.jpg" width="753" height="532" alt="продукция">
      </div>

      <div class="production__content-col">
        <h2 class="production__title h2">Производим одежду, аксессуры, вкусности и другое под заказ.</h2>
        <p class="production__text">Благодаря личному производству мы изготавливаем большие партии в короткие сроки, а так же у вас всегда есть возможность кастомизировать изделия.</p>
        <div class="production__slider swiper">
          <div class="swiper-wrapper">
            <a href="#" class="production__slider-item swiper-slide">
              <img src="images/production/production-item-1.jpg" width="188" height="190" alt="продукт">
            </a>
            <a href="#" class="production__slider-item swiper-slide">
              <img src="images/production/production-item-2.jpg" width="188" height="190" alt="продукт">
            </a>
            <a href="#" class="production__slider-item swiper-slide">
              <img src="images/production/production-item-3.jpg" width="188" height="190" alt="продукт">
            </a>
            <a href="#" class="production__slider-item swiper-slide">
              <img src="images/production/production-item-4.jpg" width="188" height="190" alt="продукт">
            </a>
          </div>

          <div class="swiper-btns">
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
          </div>
          <div class="swiper-scrollbar"></div>
        </div>
      </div>
    </div>
  </div>
</section>